	<div class="collapsible collapsible-expanded">
			<header class="collapsible__header">
				<h2 class="collapsible__heading">Item1</h2>
				<img
					class="icon icon--white collapsible__chevron"
					src="./images/chevron.svg"
					alt="Chevron icon"
				/>
			</header>
			<div class="collapsible__content">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem quam at
				dolore ducimus eum odio quod blanditiis repudiandae voluptatum
				consequuntur?
			</div>
		</div>
		<script src="js/main.js"></script>
